<h1>All your things</h1>
<ul>
  <% @things.each do |thing| %>
    <li>
      <%= link_to thing.text, thing.link, target: '_blank', class: 'external-link' %>
      <% if current_user.already_upvoted?(thing) %>
        <%= link_to undo_upvote_thing_path(thing), class: 'unlike no-underline' do %>
          <span class='sr-only'>Unlike</span>
          <%= thing.up_votes %>
        <% end %>  
      <% else %>
        <%= link_to upvote_thing_path(thing), class: 'like no-underline' do %>
          <span class='sr-only'>Like</span>
          <%= thing.up_votes %>
        <% end %> 
      <% end %>

      <%= link_to 'Edit', edit_thing_path(thing) %>
      <%= link_to 'Delete', thing_path(thing),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Add a thing', new_thing_path, class: 'btn' %>