<h1>All your things</h1>
<ul>
  <% @things.each do |thing| %>
    <li>
      <%= link_to thing.text, thing.link, target: '_blank', class: 'external-link' %>
      <% if current_user.already_upvoted?(thing) %>
        <%= link_to "Unlike",undo_upvote_thing_path(thing) %>
      <% else %>
        <%= link_to "Like",upvote_thing_path(thing) %>
      <% end %>

      <%= link_to 'Edit', edit_thing_path(thing) %>
      <%= link_to 'Delete', thing_path(thing),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Add a thing', new_thing_path, class: 'btn' %>