<h1><%= current_user && current_user.name %>'s Profile</h1>
<%= form_with model: @user, local: true do |form| %>

  <div class='form'>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this profile from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :twitter_url %><br>
      <%= form.text_field :twitter_url, placeholder: 'https://twitter.com/jonspeek' %>
    </p>
    <p>
      <%= form.label :github_url %><br>
      <%= form.text_field :github_url, placeholder: 'https://github.com/jonathanspeek' %>
    </p>
    <p>
      <%= form.label :website_url %><br>
      <%= form.text_field :website_url, placeholder: 'https://speek.design' %>
    </p>

      <%= form.submit 'Save profile', class: 'btn' %>
  </div>
<% end %>
