<main>
  <h1 class='headline-title'>techThings</h1>
  <p class='headline-txt'>Post things you use that make our life in tech easier. Build a wishlist of the things you’d like to have.</p>
  <ul>
    <% @things.each do |thing| %>
      <li class='card'>
        <div class='card--left'>
          <%= link_to image_tag(thing.user.profile_image, class: 'profile_image', size: '32x32', alt: thing.user.name), things_path(:user_id => thing.user), {class: 'no-underline'} %>
          <%= link_to thing.text, thing.link, target: '_blank', class: 'external-link' %>
        </div>
        <div class='card--right'>
        <% if current_user && current_user.already_upvoted?(thing) %>
          <%= link_to undo_upvote_thing_path(thing), class: 'unlike no-underline' do %>
            <span class='sr-only'>Unlike</span>
            <%= thing.num_up_votes %>
          <% end %>
        <% elsif current_user && !current_user.already_upvoted?(thing) %>
          <%= link_to upvote_thing_path(thing), class: 'like no-underline' do %>
            <span class='sr-only'>Like</span>
            <%= thing.num_up_votes %>
          <% end %>
        <% else %>
          <a class='unlike no-underline'>
            <span class='sr-only'>Like</span>
            <%= thing.num_up_votes %>
          </a>
        <% end %>
        <% if current_user != thing.user && current_user %>
          <%= link_to new_thing_path(text: thing.text, link: thing.link, wish_list: true), class: 'add-wish-list no-underline' do %>
            <span class='sr-only'>Add to wish list</span>
          <% end %>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</main>